.sidebar-title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #333; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  text-align: center;

}


.sidebar {
  width: 15%;
  position: fixed;
  height: 100vh;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
    background-color: #f7f7f7; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}

